html, body, #root {
  height: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

main {
  flex: 1;
  width: 100%;
  max-width: 800px;
  overflow-y: auto;
}
